// @import "@noisytrumpet/osi-dls/lib/styles/shared.scss";
body * {
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
}


.Toastify__toast--success {
    background-color: #00ADBC !important;
}